env

*.zip
wandb

*.pyc
*__pycache__/

*.pt
*.pnt

*.jpg
*.jpeg

*.png
!simClr/images/*.png 

*.png
!tests/*.png

simClr/data

*.obj

simClr/logs

*.xml

*.tgz

src/tests/data/data/food101/train/imagenette2/noisy_imagenette.csv

*.tar.gz


simClr/*


.vscode/**


